// Define variables for your color scheme

// For example:
$red: #FD1015;
$light-blue: #5BC7E1;
$dark-blue: #007FBD;
$yellow: #ffd400;
$orange: #f88810;
$green: #87c830;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #fc59a3;
$purple: #8e3ccb;
$magenta: #C901A1;
